body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dcdcf1;
  }
  
  .container {
    text-align: center;
    width: 80%;
    max-width: 600px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  
  #result {
    margin-top: 20px;
    background-color: #c5e1e9;
    padding: 20px;
    border-radius: 5px;
  }
  